* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --color-background: hsl(0, 0%, 0%);
    --color-background-2: hsl(0, 0%, 10%);
    --color-text-default: hsl(0, 0%, 90%);
    --color-accent: hsl(210, 64%, 26%);
    --color-accent-darker: hsl(210, 64%, 21%);
    --color-state-normal:hsl(123, 91%, 27%);
    --color-state-warning: hsl(46, 81%, 30%);
    --color-state-danger: hsl(0, 70%, 35%);
    --small: .2em;
    --normal: .4em;
    --medium: .6em;
    --large: .8em;
    --xlarge: 1em;
}

body {
    background-color: var(--color-background);
    color: var(--color-text-default);
    font-size: 24px;
}

::-webkit-scrollbar {
    display: none;
}

/* PLUS SYMBOL */
.plus {
    display:inline-block;
    background:
        linear-gradient(#000,#000),
        linear-gradient(#000,#000),
        #fff;
    background-position:center;
    background-size: 50% 4px,4px 50%;
    background-repeat:no-repeat;
}

.alt {
    background:
        linear-gradient(#fff,#fff),
        linear-gradient(#fff,#fff);
    background-position:center;
    background-size: 50% 2px,2px 50%; /*thickness = 2px, length = 50% (25px)*/
    background-repeat:no-repeat;
}

.radius {
    border-radius:50%;
}